# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*build

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
baseball

# IDE settings
*.vscode
*.pro.user

# Execution time temp and data
cppStroustrupExercises/X0509/integers

/.vs
/baseball/CMakeSettings.json
